*{
    margin: 0px;
    padding: 0px;
}
#grandTotal{
    font-size: 24px;
    font-weight: bold;
    padding: 30px 0 0 50px;
    color: red;
    background: lightblue;
}
.text{
    padding: 50px 0 0 50px;
    font-size: 14pt;
    font-weight: bold;
}

#cal_div{
    margin:  50px 10px 0 50px;
    background-color: lightblue;
    width: 460px;
    height: 125px;
    
}

#totalBill{
    margin: 10px 10px 0 41px;
    height: 25px;
    font-size: 12pt;
    color: black;
    padding: 0 0 0 10px;
    background-color: bisque;
    border-radius: 6px;
    border: 2px solid white;
}

#totalDiscount{
    margin: 10px 10px 0 0;
    height: 25px;
    font-size: 12pt;
    color: black;
    padding: 0 0 0 10px;
    background-color: bisque;
    border-radius: 6px;
    border: 2px solid white;
}

#salesTax{
    margin: 10px 10px 0 4px;
    height: 25px;
    font-size: 12pt;
    color: black;
    padding: 0 0 0 10px;
    background-color: bisque;
    border-radius: 6px;
    border: 2px solid white;
}

